@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
    background-color: black; /* Update the path to your background image */
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
  }
